body {
    text-align: center;
    background-color: #f3f3f3;
}

.box {
    /* 子要素のタイトルを aboslute 配置するため必要 */
    position: relative;
}
.box .box_imageLeft {
    width: 20%;
    position: absolute;
    left: 0;
}
.box .box_imageRight {
    width: 20%;
    position: absolute;
    right: 0;
}

.c{
    font-size: 45px;
    color: #815a2b;
}
.r{
    font-size: 45px;
    color: silver;
}
.sr{
    font-size: 45px;
    margin: auto;
    color: gold;
}
.ssr {
    font-size: 45px;
    color: red;
}

.hidden{
    display: none;
}

.korokoro {
    width: 20%;
    height: 20%;
    animation: korokoro 2.5s linear 0s infinite;
    
}  
@keyframes korokoro {
    0%   { transform: translate(0%, 0%); }
    5%   { transform: translate(10%, 0%) rotate(10deg); }
    25%  { transform: translate(20%, 0%) rotate(20deg); }
    30%  { transform: translate(-10%, 0%) rotate(-10deg); }
    35%  { transform: translate(-15%, 0%) rotate(-15deg); }
    45%  { transform: translate(10%, 0%) rotate(10deg); }
    50%  { transform: translate(15%, 0%) rotate(15deg); }
    60%  { transform: translate(-5%, 0%) rotate(-5deg); }
    65%  { transform: translate(-7%, 0%) rotate(-7deg); }
    75%  { transform: translate(0%, 0%) rotate(0deg); }
    100% { transform: translate(0%, 0%) rotate(0deg); }
}

.purun {
    width: 20%;
    height: 20%;
    animation: purun 0.8s linear 0s 4;
}  
@keyframes purun {
    0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
    15%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
    30%  { transform: scale(1.3, 0.8) translate(0%, 10%); }
    50%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
    70%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

.poyon {
    width: 20%;
    height: 20%;
    animation: poyon 1.1s linear 0s 1;
}
@keyframes poyon {
    0%   { transform: scale(0.8, 1.4) translate(0%, -100%); }
    10%  { transform: scale(0.8, 1.4) translate(0%, -15%); }
    20%  { transform: scale(1.4, 0.6) translate(0%, 30%); }
    30%  { transform: scale(0.9, 1.1) translate(0%, -10%); }
    40%  { transform: scale(0.95, 1.2) translate(0%, -30%); }
    50%  { transform: scale(0.95, 1.2) translate(0%, -10%); }
    60%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
    70%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}