@import url("./animation.css");

body {
    text-align: center;
    background-color: #f3f3f3;
}

.box {
    position: relative;
}
.box .box_imageLeft {
    width: 20%;
    position: absolute;
    left: 0;
}
.box .box_imageRight {
    width: 20%;
    position: absolute;
    right: 0;
}

.hidden{
    display: none;
}

.ssr {
    font-size: 45px;
    color: red;
}
.sr {
    font-size: 45px;
    color: gold;
}
.r {
    font-size: 45px;
    color: silver;
}
.c {
    font-size: 45px;
    color: #815a2b;
}

.trigger {
    width: 20%;
    height: 20%;
    animation: korokoro 2.5s linear 0s infinite;
}

.ssrEffect {
    width: 20%;
    height: 20%;
    animation: purun 0.8s linear 0s 4;
}